.img-container {
  margin: 40px;
  text-align: center;
}

.Signup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: #fff;
  border-bottom: 2px solid #F26767;
}

.back-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* 중앙 정렬을 위해 추가 */
  width: 100%;
}

input {
  padding: 12px 30px;
}

.container {
  display: flex;
  flex-direction: column; /* 버튼을 세로로 나열하기 위해 수정 */
  align-items: center; /* 중앙 정렬을 위해 추가 */
}

.signbutton {
  font-size: 20px;
  font-weight: bold;
  padding: 12px 80px;
  background-color: #F26767;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px; /* 버튼 사이 여백 조정 */
}
